@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply bg-dark-brown text-white dark:bg-black;
  }
  button:hover {
    @apply pc:scale-125;
    @apply pc:duration-75;
  }
  button:active {
    @apply pc:scale-100;
    @apply pc:duration-[50];
  }
  button {
    @apply text-[1.2rem];
    @apply sm:text-[1.4rem];
    @apply md:text-[1.6rem];
    @apply pc:text-[1.2vw];
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-center font-bold;
  }
  h1 {
    @apply text-[3.6rem] pc:text-[5.6vw];
  }
  h2 {
    @apply mb-[1rem] text-[3rem] pc:mb-[2vh] pc:text-[4.6vw];
  }
  h3 {
    @apply text-[1.5rem] pc:text-[2vw];
  }
}
